{{ define "main" }}
  <article class="post">
    <header>
      <div class="title">
        <h1><a href="{{ .RelPermalink }}">{{ i18n "contact" }}</a></h1>
        {{ with .Description }}<p>{{ . }}</p>{{ end }}
      </div>
    </header>
      <div id="content">
        {{ .Content }}
        <div class="contact-container">
          {{ if .Params.netlify }}
            <form name="contact" method="POST" action="thank-you" data-netlify-recaptcha="true" data-netlify="true" center width="300px">
          {{ else }}
          {{ end }}
          <h4>{{ i18n "contact_replies" .Params.contactanswertime }}</h4>
        </form>
      </div>
    </div>
  </article>
{{ end }}
